.menu-container{
    height: 70px;
    width: 100%;
    padding: 10px 30px;
    display: flex;
    position: fixed;
    background-color: #0D1321;
    
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-link-list{
    display: flex;
    list-style: none;
}

li.menu-link{
    padding: 0 20px;
    font-weight: bold;
}

.logo{
    font-weight: bold;
    font-size: 1.3rem;
    color: #F0EBD8;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-image{
    background-image: url("images/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    align-self:center;
}

.logo-link-container{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
}

a.logo-link{
    color:#F0EBD8;
}

a.menu-link{
    color: rgb(116, 140, 171);
}

a.menu-link:hover{
    color: rgb(240, 235, 216);
    border-bottom-style: solid;
    border-color: #F0EBD8;
    border-width: 1px;
}

.menu-button-container{
    display: none;
}

.menu-button{
    display: none;
}

.menu-label{
    display: flex;
    align-items: center;
    background-image: url("images/menu.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 40px;
}

#menu-button:checked ~ #logo-container > #menu-button-container > #menu-label {
    background-image: url("images/close.png");
}

.logo-container{
    display: flex;
    flex:1;
}

.menu-links{
    display: flex;
    flex:3;
    justify-content: center;
}

.social-container{
    display: flex;
    flex:1;
    justify-content: right;
    align-items: center;
}

.git-logo{
    height: 24px;
    width: 24px;
    background-image: url("images/github-1.png");
    background-size: cover;
    background-repeat: none;
    margin-left: 20px;
}

.git-logo:hover{
    background-image: url("images/github.png");
}

.linkdn-logo{
    height: 24px;
    width: 24px;
    background-image: url("images/linkedin-1.png");
    background-size: cover;
    background-repeat: none;
    padding: 0, 10px;
    margin-left: 20px;
}

.linkdn-logo:hover{
    background-image: url("images/linkedin.png");
}


@media only screen and (max-width: 992px){
    .menu-container{
        height: auto;
        padding: 10px 10px;
    }
    .menu{
        flex-direction: column;
        justify-content: left;
        align-items: unset;
    }
    .menu-link-list{
        padding: 20px 0px;
        flex-direction: column;
    }

    li.menu-link{
        padding: 20px 0px;
    }

    .menu-button-container{
        display: flex;
        justify-content: left;
    }

    .logo-container{
        display: flex;
        justify-content: space-between;
    }

    .git-logo{
        margin: 0px;
        margin-right: 5px;
    }
    .linkdn-logo{
        margin: 0px;
        margin-left: 5px;
    }
    #menu-links{
        display: none;
    }
    .social-container{
        display: none;
    }
    #menu-button:checked ~ #menu-links{
        display: flex;
        justify-content: left;
    }
    #menu-button:checked ~ #social-container{
        display: flex;
        justify-content: center;
    }
   
}