*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: jura;
    src: url(fonts/Jura/Jura-VariableFont_wght.ttf);
}

html{
    font-family: jura;
}

a{
text-decoration: none;
}

.full-height{
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding: 70px 30px;
    padding-bottom: 30px;
}